.site-footer{
	background: $header-bg;
	color: #666;
	border-top: 1px solid #ddd;
	text-shadow: 0 1px 0 #FFF;
	font-size: 13px;
	padding: 20px 0;
	p{
		margin: 0;
	}
	a{
		border: none !important;
		color: #666;
		&:hover{
			color: #ccc;
		}
	}
}
